POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_HOST=postgres
DB_PORT=5432

SECRET_KEY=replace-with-your-secret-key
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DOCKER_USERNAME=your_dockerhub_username
GATEWAY_PORT=9000
